/*----------------------------------------------------------*/
/* base */
/*----------------------------------------------------------*/
body {
    font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif;
    color: #212121;
    font-size: 16px;
    background-color: #fff;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .pc-br {
    display: block;
  }
  @media screen and (max-width: 767px) {
    .pc-br {
      display: none;
    }
  }

/*----------------------------------------------------------*/
/* container */
/*----------------------------------------------------------*/
.container{
    max-width: 1360px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.contents{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

/*----------------------------------------------------------*/
/* ヘッダーheader */
/*----------------------------------------------------------*/
  .header {
    padding: 0 30px;
  }

  .header__inner {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  
  .header-list__item {
    list-style: none;
    display: inline;
    padding: 0 10px;
  }

  a {
    transition: 0.3s;
  }

  a:hover {
      color: #dddddd;
  }
  
  @media screen and (max-width: 767px) {
    .header {
      height: 100px;
    }
  
    .container {
      width: 100%;
    }
  
    .header__inner {
      height: 100px;
      justify-content: center;
      flex-direction: column;
    }

    .header-list {
      margin-top: 10px;
      font-size: 14px;
    }
  
    .header__left {
      justify-content: center;
      width: 100%;
    }
  
    .header__right {
      justify-content: center;
      width: 100%;
    }
}

/*----------------------------------------------------------*/
/* メインvisual */
/*----------------------------------------------------------*/
/* トップの写真 */
.main-img {
    width: 100vw;
    height: 400px;
    background-image: url(haikei.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* メイン共通 */
.main-v__inner {
   text-align: center;
   margin-top: 80px;
   padding-bottom: 20px;
}

.main-v__head {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
} 

@media screen and (max-width: 767px) {
  .main-v__inner {
    margin-top: 40px;
    padding-bottom: 10px;
  }
  
}

/* about */
.main-v__text {
    text-align: left;
}

.main-v__about {
    margin-bottom: 35px;
    letter-spacing: 0.8px;
}


/* work */
.main-v__box {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-v__box img {
    width: 230px;
    height: 130px;
}

@media screen and (max-width: 767px) {
  .main-v__box img {
    width: 100%;
  }

  .main-v__box {
    flex-direction: column;
}  
}

/* news */
span {
  margin-right: 30px;
}

.main-v__items {
  display: flex;
  justify-content: start;
  align-items : center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}

.main-v__item {
  display: flex;
  justify-content: start;
  align-items : center;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}

/* contact */
td {
  border: 1px solid #dddddd;
  padding: 15px;
}

th{
  font-weight: normal;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

input {
  width: 70%;
}

textarea {
  width: 70%;
}
